body {
    margin: 0;
    background-color: black;
    text-align: center;
    font-family: "Inter", sans-serif;
}

#numberinput::-webkit-outer-spin-button,
#numberinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#container-top { 
    background-color: #a8dadc;
    color: white;
    height: 285px;
    width: 550px;
    overflow: auto;
    padding-bottom: 15px;
}

#container-bottom {
    background-color: #F4F4F4;
    height: 444px;
    width: 550px;
}

button {
    background-color: white;
    color: #3D3D3D;
    height: 42px;
    width: 117px;
    display: flex;
    margin: 30px auto 0 auto;
    text-align: center;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    border: 0;
    font-size: 16px;
}

#main-container {
    height: 729px;
    width: 550px;
    margin: 126px auto;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top : 33px;
    font-size: 28px;
}

#numberinput {
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    background-color: #6943FF;
    border-radius: 7px;
    font-size: 58px;
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
    
  -moz-appearance: textfield;
    
}

.smallcontainer {
    width: 500px;
    height: 108.57px;
    color: #5A537B;
    background-color: white;
    margin: 20px auto;
    padding-top : 5px;


}

h3 {
    font-size: 20px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 400;
}

